<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <add key="Time" value="06:45"/>
        <add key="FolderPaths" value="D:\Webs|D:\Media\Video" />
        <add key="ArchivePath" value="D:\Backups" />
        <add key="DatabasePath" value="D:\SqlServerDataFiles\Backup" />
        <add key="FtpUrl" value="online-server.com" />
        <add key="FtpUserName" value="backupUser" />
        <add key="FtpPassword" value="password" />
        <add key="FtpMode" value="active" />
        <add key="FtpPort" value="21" />
        <add key="FtpSsl" value="false" />
        <add key="SmtpService" value="true" />
        <add key="SmtpUserName" value="services" />
        <add key="SmtpPassword" value="password" />
        <add key="SmtpHost" value="localhost" />
        <add key="SmtpPort" value="25" />
        <add key="SmtpSsl" value="false" />
        <add key="SmtpSender" value="services@domain.com" />
        <add key="SmtpRecipient" value="admin@domain.com" />
    </appSettings>
</configuration>
