<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="Time" value="06:45"/>
    <add key="FolderPaths" value="D:\Webs|D:\Media\Video" />
    <add key="ArchivePath" value="D:\Backups" />
    <add key="DatabasePath" value="D:\SqlServerDataFiles\Backup" />
    <add key="FtpUrl" value="backup604.onlinehome-server.com" />
    <add key="FtpUserName" value="bk738330718" />
    <add key="FtpPassword" value="321..Xon" />
    <add key="FtpMode" value="active" />
    <add key="FtpPort" value="21" />
    <add key="FtpSsl" value="false" />
    <add key="SmtpService" value="true" />
    <add key="SmtpUserName" value="services@clikitysplit.com" />
    <add key="SmtpPassword" value="321..Xon" />
    <add key="SmtpHost" value="localhost" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpSsl" value="false" />
    <add key="SmtpSender" value="services@clikitysplit.com" />
    <add key="SmtpRecipient" value="fred.chateau@clikitysplit.com" />
  </appSettings>
</configuration>
